.spinner {
    margin-top: 30px;
    z-index:1;
    margin:auto;
    border:16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #A02838;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}