.countryDetail{
    height: 90px;
    width: 60%;
    border-bottom: 1px solid lightgray;
    margin:auto;
    padding-bottom: 1em !important;
    margin-top: 2.8em !important;
}
.country-icon{
    padding:0 15px;
    max-width: 16%;
    min-width: 13%;
    float: left;
}

.country-flag{
    max-width: 100%;
    height: 100%;
}
.cases-details{


}
.cases-box{
  float: left;
  height: 100%;
  width: calc(100%-16%);
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'Nunito';
  padding-left: 15px;
}
.cases-box:nth-child(1) {
    width: 25% !important;
  }
  .cases-box:nth-child(3) {
    width: 25% !important;
  }

  .cases-box:nth-child(4) {
    width: calc(100%-16%-25%-25%) !important;
  }
a{
color:#820F2C !important;
text-decoration: none;
background-color: transparent;
font-size: 1.2rem;
font-family: "Nunito";
}
p{
    columns: #b5b5b5;
    font-weight: 400 !important;
}
p strong{
    text-align: center;
    color:#820F2C
}