.countryDetails{
    height: 50px;
    width: 60%;
    border-bottom: 1px solid lightgray;
    margin:auto;
    padding-bottom: 1em !important;
    margin-top: 2.8em !important;
}
.country-icon{
    padding:0 15px;
    float: left;
}

.country-flag{
    max-width: 100%;
    height: 100%;
}
.cases-details{
  height: 100%;
  width: 100%;
  float: left;
  display: grid;
  grid-template-columns: 15% 25% 30% calc(100% - 30% - 25% - 15%);
}
/*
.cases-box{
  float: left;
  height: 100%;
  width: calc(100%-16%);
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Nunito";
  padding-left: 15px;
}
.cases-box:nth-child(1) {
    width: 25% !important;
  }
  .cases-box:nth-child(2) {
    width: 25% !important;
  } */

a{
color:#820F2C !important;
text-decoration: none;
background-color: transparent;
font-size: 1.2rem;
font-family: "Nunito";
}
p{
    columns: #b5b5b5;
    font-weight: 400 !important;
}
p strong{
    text-align: center;
    color:#820F2C
}