* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
 background-color: #E7FB99;
}
.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 60px;
  background-color: #21AD96;
  /* background-color: rgba(165, 42, 42, 0.76); */

  align-items: center;
  color: #fff !important;
}
.header a {
  margin-right: 50px;
  color: #fff !important;
  text-decoration: none;
}
