* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.App{

}
.header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 60px;
  background-color: rgba(165, 42, 42, 0.76);
  align-items: center;
  color: #fff !important;
}
.header a {
  margin-right: 50px;
  color: #fff !important;
  text-decoration: none;
}
.list-wrapper {
  width: 75%;
  margin: auto;
  font-weight: bold;
}

.list-wrapper .myth-item{
  margin : 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(165, 42, 42, 0.76);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.list-wrapper a {
  text-decoration: none;
  color:brown;
  font-weight: bold;
}

.myth-wrapper {
  margin: auto;
  width: 75%;
  font-style: oblique !important;
}
.myth-wrapper img {
 width: 350px;
 height: 300px;
 border-radius: 5px;
}
.myth-wrapper .item {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
   color:#b62d1e;
}
.myth-wrapper .mythItemHeader{
  text-align: center;
  font-family: fantasy;
  color:#b62d1e;
  padding-top:20px;
}
.search-wrapper {
  display: flex;
  width: 100% !important;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  outline: none;
}

.pagination {
  width: 30%;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
  outline: none !important;
}