.mythWrapper {
  margin: auto;
  width: 75%;
  font-style: oblique !important;
}

.mythWrapper img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}
.mythWrapper .item {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  color: #b62d1e;
}
.mythWrapper .mythItemHeader {
  text-align: center;
  font-family: fantasy;
  color: #b62d1e;
  padding-top: 20px;
}
