.top-container {
  display: flex;
  flex-direction: column;
  font-family: Oxygen, sans-serif;
  align-items: center;
  background-color: #ccddee;
  height: 100%;
  width: 100%;

  .title {
    color: #445a71;
    font-size: 16px;
    margin-top: 6px;
  }
}

.weather-container {
  margin-top: 1.2em;
  color: #445a71;
  font-weight: bold;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #445a71;
    font-weight: bold;
    margin: 10px 0;
    align-items: center;

    .current-weather {
      height: fit-content;
      font-size: 30px;
      margin-left: 5px;
    }

    .image {
      width: 4em;
      height: 4em;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
  }
}

.btn-select-location {
  background-color: #445a71;
  text-align: center;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  color: #fff;
}
input{
  margin-left: 10px;
}
.btn-block {
  width: 75px;
  margin-left: 45px;
}
