li {
  text-decoration: none;
  list-style: none;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.songList {
  padding-top: 5%;
}

.btnAge {
  background-color: thistle;
  outline: none;
}
.btnAdd {
  background-color: brown;
  outline: none;
  color: aliceblue;
}
