.App {
  min-height: 100vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
}
.search-button{
  background-color: lightcoral;
  border:none;
  padding: 10px 20px;
  color:white;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}