.gridList {
    width: 500;
    height: 500;
  }
  .list-wrapper {
    width: 75%;
    margin: auto;
    font-weight: bold;
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden';
  }