.gridList {
    width: 500;
    height: 500;
  }
  .listWrapper {
    width: 75%;
    margin: auto;
    font-weight: bold;
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden';
  }
  .listWrapper a {
    text-decoration: none;
    color:brown;
    font-weight: bold;
  }

  .mythItem{
    margin : 10px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(165, 42, 42, 0.76);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .pagination {
    width: 30%;
    display: flex;
    margin: auto;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    cursor: pointer;
    outline: none !important;
  }
  .searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  .searchWrapper input{
    outline: none;
  }
  .searchWrapper button{
    outline: none;
    background-color: #4bca89;
    color:#fff;
  }