.gridList {
    width: 500;
    height: 500;
  }
  .listWrapper {
    width: 75%;
    margin: auto;
    font-weight: bold;
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden';
    margin-bottom: 30px;
  }
  .listWrapper a {
    text-decoration: none;
    color:brown;
    font-weight: bold;
  }

  .mythItem{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .mythItem img {
    width: 250px;
    height: 200px;
  }
  .pagination {
    margin:auto;
    width: 30%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    outline: none !important;
    background-color: #21ad96c4;
    font-weight: bold;
    border-radius: 5px;
    color:#fff;
  }
  .searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  .searchWrapper input{
    outline: none;
  }
  .searchWrapper button{
    outline: none;
    background-color: #198271;
    color:#fff;
  }